<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name="SteamShortcutCreator"
             Version="1.0.0.0"
             Manufacturer="TurtyWurty"
             UpgradeCode="a5ff8003-3889-4bc7-a0b2-bd574dae4618"
             Language="1033">

        <!-- Compression & CAB -->
        <MediaTemplate EmbedCab="yes" />

        <!-- Installation target -->
        <StandardDirectory Id="ProgramFilesFolder">
            <Directory Id="INSTALLFOLDER" Name="SteamShortcutCreator">
                <Component Id="MainExecutable" Guid="65c2ba87-811a-4182-822a-a9c2e16d0e65">
                    <File Id="SteamShortcutCreator"
                          Source="$(var.PublishDir)\SteamShortcutCreator.exe"
                          KeyPath="yes">
                        <Shortcut Id="DesktopShortcut"
                                  Directory="DesktopFolder"
                                  Name="SteamShortcutCreator"
                                  WorkingDirectory="INSTALLFOLDER"
                                  Icon="AppIcon.ico"
                                  Advertise="no"/>
                        <Shortcut Id="StartMenuShortcut"
                                  Directory="ProgramMenuFolder"
                                  Name="SteamShortcutCreator"
                                  WorkingDirectory="INSTALLFOLDER"
                                  Icon="AppIcon.ico"
                                  Advertise="no"/>
                    </File>

                    <RemoveFolder Id="INSTALLFOLDER" On="uninstall"/>
                    <RegistryValue Root="HKLM"
                                   Key="Software\\SteamShortcutCreator"
                                   Name="Installed"
                                   Type="integer"
                                   Value="1"/>
                </Component>
            </Directory>
        </StandardDirectory>

        <!-- Built-in standard directories -->
        <StandardDirectory Id="DesktopFolder" />
        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="SteamShortcutCreatorProgramMenu" Name="SteamShortcutCreator"/>
        </StandardDirectory>

        <!-- Feature -->
        <Feature Id="MainFeature" Title="SteamShortcutCreator" Level="1">
            <ComponentRef Id="MainExecutable" />
        </Feature>

        <!-- Icon for ARP (Add/Remove Programs) -->
        <Icon Id="AppIcon.ico" SourceFile="Assets/AppIcon.ico"/>
        <Property Id="ARPPRODUCTICON" Value="Assets/AppIcon.ico"/>
    </Package>
</Wix>
